body {
    background-image: url("https://raw.githubusercontent.com/rann01/IRIX-tiles/refs/heads/main/IRIX%20tiles/Scatter%20Blue.png");
    background-repeat: repeat;
    font-family: monospace;
}


#main {
    display: flex;
    min-height: 100lvh;
    margin: 0;
    align-items: center;
    justify-content: center;
}

#main-div {
    background-color: #e6ebf2;
    padding: 10px;
    margin-bottom: 10px;
}

section {
    margin-top: 20px;
}

section * {
    margin: 0;
}

p {
    margin-bottom: 0px;
    max-width: 600px;
}

table {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0px;
}

th:first-child,
td:first-child {
    text-align: left;
}

th {
    padding-right: 10px;
    border: 0px;
}

a {
    color: #81A1C1;
}

.child {
    border: 1px solid black;
    padding: 1rem;
}

.inline-block-child {
    display: inline-block;
}

hr {
    width: 25%;
    /* Set the desired width */
}